[submodule "skills/c-code-review"]
	path = skills/c-code-review
	url = ../c-code-review.git
[submodule "rules/code-comment"]
	path = rules/code-comment
	url = ../code-comment.git
[submodule "prompts"]
	path = prompts
	url = ../prompts.git
[submodule "skills/editorconfig-doctor"]
	path = skills/editorconfig-doctor
	url = ../editorconfig-doctor.git
[submodule "skills/git-doctor"]
	path = skills/git-doctor
	url = ../git-doctor.git
